Assets/Plugins/Vectrosity.dll

# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt
*.stackdump
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
12075_6879
Assets/Geo/tester.cs
Assets/Geo/tester.cs.meta
Assets/Helpers/HTMLTest.cs
Assets/Helpers/HTMLTest.cs.meta
Assets/Plugins/Vectrosity.dll.meta
Assets/Geo.meta~HEAD
